
$primary:#2F3638;
$primary-darker:darken($primary, 20%);
$secondary:#1BBC9B;
$tertiary:#E73C4E;


$screen-m: 400px;
$screen-l: 700px;
$screen-xl: 1650px;

$padding-main:100px;
$padding-small:25px;

$font-serif:'Merriweather', Georgia, serif;
$font-sans-serif:"Avenir Next", Roboto, sans-serif;